body[class='dark-mode'],
body[class='dark-mode react-draggable-transparent-selection'] {
	--primary: #0facf3;
	--primary-dark: #10a5e8;
	--secondary-hover: #3c4859;

	--text-color: #fff;
	--background-color: #333;
	--background-light-color: #3e3d3d;
	--muted-color: #787373;
}

body[class='light-mode'],
body[class='light-mode react-draggable-transparent-selection'] {
	--primary: #0facf3;
	--primary-dark: #10a5e8;

	--secondary-hover: #e9e4e4;
	--text-color: #333;
	--background-color: #f1f1f1;
	--background-light-color: #fcfcfc;
	--muted-color: #999595;
}

body {
	background: var(--background-light-color) !important;
	color: var(--text-color) !important;
}

.flex {
	display: flex;
}

.toggle {
	cursor: pointer;
	margin: 1.5rem 0;
}

a svg {
	color: var(--text-color);
}

@media screen and (max-width: 600px) {
	.flex {
		display: block !important;
	}
}
