.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ml-5 {
	margin-left: 5px;
}

footer {
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat';
	display: flex;
	font-size: 12px;
	flex-direction: column;
}

footer a {
	font-size: 14px;
	margin-right: 10px;
	margin-top: 10px;
}
