.d-f {
	display: flex;
}

.j-sb {
	justify-content: space-between;
}
.color-picker {
	margin-top: 15px;
}

.options {
	width: 300px;
	padding: 1rem;
	border-radius: 0.5rem;
	height: 90vh;
	margin: 1rem;
	overflow: hidden;
}

.options:hover {
	overflow-y: auto;
	overflow-x: hidden;
}

.options h4 {
	font-size: 14px;
	font-family: 'Montserrat';
	font-weight: 600;
}

.options h5 {
	font-size: 12px;
	font-family: 'Montserrat';
	font-weight: 400;
}

input[type='number'] {
	width: 55px;
	height: 25px;
	margin-top: 10px;
	background: var(--background-color);
	color: var(--text-color);
	border: 0px;
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
}

input[type='file'] {
	margin-top: 20px;
	margin-left: 40px;
}

input[type='url'] {
	width: 95%;
	height: 25px;
	margin-bottom: 10px;
	background: var(--background-color);
	color: var(--text-color);
	border: 0px;
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
}

select {
	min-width: 55px;
	height: 25px;
	margin-top: 10px;
	background: var(--background-color);
	color: var(--text-color);
	border: 0px;
	padding: 0.3rem 0.4rem;
	border-radius: 0.2rem;
}
